@charset "UTF-8";
/*Button*/
/* Общий стиль кнопок */
.button {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  /* Анімація(Зміна заливки, кольору, тіні) */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  cursor: pointer;
}

/*Кнопка на главной странице */
.button-buy {
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background: var(--primary-btn-bg-color);
}
.button-buy:focus, .button-buy:hover {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}

.button-send {
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background: var(--primary-btn-bg-color);
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.menu-open-btn:hover, .menu-open-btn:focus {
  cursor: pointer;
  fill: var(--primary-btn-bg-color);
}

/*Кнопка на странице Портфолио*/
.btn-portf {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--accent-btn-bg-color);
}
.btn-portf:hover, .btn-portf:focus {
  color: var(--primary-bg-color);
  background: var(--primary-btn-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button .item + .item {
  margin-left: 8px;
}

/**/
.btn-portf.curent {
  color: var(--primary-bg-color);
  background: var(--primary-btn-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-send {
  display: inline-flex;
}
.button-send::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/icon-send.png);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

:root {
  --primary-bg-color: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-btn-bg-color: #2196f3;
  --accent-btn-bg-color: #f5f4fa;
  --card-set-gap: 30px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  padding: 48px 15px 48px 40px;
}
.mob-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-menu__link--current {
  color: var(--primary-btn-bg-color);
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__bottom {
  margin-top: auto;
}

.mob-menu .mob-menu-contacts__tel {
  display: inline-block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-btn-bg-color);
}
@media screen and (min-width: 480px) {
  .mob-menu .mob-menu-contacts__tel {
    font-size: 34px;
  }
}

.mob-menu-contacts__mail {
  display: inline-block;
  padding-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu-soc {
  display: flex;
  flex-wrap: wrap;
}
.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-btn-bg-color);
}
.mob-menu-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu-soc__item:not(:first-child) {
  padding-left: 10px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}

.section-title {
  display: block;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

/*Text*/
.text {
  letter-spacing: 0.03em;
}

.header__logo-link {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    margin-right: 88px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    margin-right: 93px;
  }
}

.footer__logo-link {
  display: block;
  margin-bottom: 20px;
}

.logo-link {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-link--color-dark {
  color: #000000;
}
.logo-link--color-blue {
  color: #2196f3;
}
.logo-link--color-white {
  color: #ffffff;
}

.icon-message,
.icon-phone {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link--fill-grey {
  fill: #AFB1B8;
  background-color: var(--primary-bg-color);
}
.icon-link--fill-grey:hover, .icon-link--fill-grey:focus {
  background-color: var(--primary-btn-bg-color);
  cursor: pointer;
  fill: #FFFFFF;
}
.icon-link--bg-blue {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}
.icon-link--bg-blue:hover, .icon-link--bg-blue:focus {
  background-color: var(--primary-btn-bg-color);
  cursor: pointer;
  fill: #FFFFFF;
}

/* Navigation */
.navigation-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
  .navigation-list__item + .navigation-list__item {
    margin-left: 50px;
  }
  .navigation-list__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list__link:hover, .navigation-list__link:focus {
    cursor: pointer;
    color: var(--primary-btn-bg-color);
  }
  .navigation-list__link--curent {
    color: var(--primary-btn-bg-color);
  }
  .navigation-list__link--curent::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-btn-bg-color);
    border-radius: 2px;
  }
}
.menu-contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-contact {
    display: flex;
    flex-wrap: wrap;
    margin-left: 83px;
  }
  .menu-contact__item + .menu-contact__item {
    margin-top: 10px;
  }
  .menu-contact__link {
    display: inline-flex;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contact__link:hover, .menu-contact__link:focus, .menu-contact__link:hover .icon-phone, .menu-contact__link:focus .icon-phone, .menu-contact__link:hover .icon-message, .menu-contact__link:focus .icon-message {
    fill: var(--primary-btn-bg-color);
    color: var(--primary-btn-bg-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .menu-contact__item + .menu-contact__item {
    margin-top: 0px;
    margin-left: 50px;
  }
}

header {
  border-bottom: solid 1px #757575;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.hero__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero__container {
    width: 480px;
    height: 400px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hover-text);
  cursor: pointer;
}

.advantages-list {
  justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
}
.advantages-list__item {
  margin-top: var(--card-set-gap);
}
.advantages-list__title {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-list__text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .advantages-list__item {
    flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc(25% - var(--card-set-gap));
  }
}

.advantages-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: var(--accent-btn-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.clients-list__item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(50% - var(--card-set-gap));
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(33.3333333333% - var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(16.6666666667% - var(--card-set-gap));
  }
}

.clients-list__link {
  display: flex;
  fill: #afb1b8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

/*Section work--------------------------------------------------------------*/
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
    text-align: center;
  }
}

.work-list {
  display: flex;
  justify-content: center;
}
.work-list__item {
  min-width: 370px;
  position: relative;
}
.work-list__item + .work-list__item {
  margin-left: 30px;
}

.thumb-bg {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  color: var(--primary-bg-color);
}
.thumb-bg__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*Section team-----------------------------*/
.team {
  background: var(--accent-btn-bg-color);
}

.team-list {
  margin-top: calc(-1 * var(--card-set-gap));
}
.team-list__item {
  margin-top: var(--card-set-gap);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .team-list__item {
    flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(25% - var(--card-set-gap));
  }
}

.item-border {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.team-p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

/*social link*/
.social-list {
  display: flex;
  justify-content: center;
}

.social-list .social-item + .social-item,
.social-list .footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.portfolio-button {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;
  white-space: nowrap;
}
.portfolio-button__item {
  margin-bottom: 15px;
}
.portfolio-button__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-button {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-button {
    flex-wrap: nowrap;
  }
}

.project-list {
  width: 100%;
  display: block;
  justify-items: center;
  margin-top: calc(-1 * var(--card-set-gap));
}
.project-list__item {
  height: 100%;
  margin-top: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .project-list__item {
    flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-list__item {
    flex-basis: calc(33.3333333333% - var(--card-set-gap));
  }
}

.project-item-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-link:hover, .project-item-link:focus, .project-item-link:hover .thumb-text, .project-item-link:focus .thumb-text {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: translateY(0%);
}

.thumb-project {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__item .item-text {
  padding: 20px 24px;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-h3 {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.text-enter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.address {
  font-style: normal;
}

.footer-container {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-container .container {
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-container .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container .container {
    align-items: baseline;
    text-align: left;
  }
}

.modal-input-footer {
  width: 358px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .modal-input-footer {
    margin-bottom: 0;
  }
}

.address-list__item + .address-list__item {
  margin-top: 9px;
}

.enter-link {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .enter-link {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .enter-link {
    margin-left: 70px;
  }
}

.text-enter.text {
  margin-bottom: 20px;
}

/* subscribe */
/* form-subscribe */
@media screen and (min-width: 768px) {
  .form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    flex-direction: row;
  }
}

/* Subscribe */
.subscribe {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
    margin-left: 70px;
  }
}

.form-subscribe .modal-input {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-subscribe .modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe .modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe .modal-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover, .location:focus {
  cursor: pointer;
  color: var(--primary-btn-bg-color);
}

.footer-contact-item {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-item:hover, .footer-contact-item:focus {
  cursor: pointer;
  color: var(--primary-btn-bg-color);
}

.modal-input.footer-modal-input {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .modal-input.footer-modal-input {
    width: 354px;
  }
}

.form-subscribe .footer-button {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .form-subscribe .footer-button {
    margin-top: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close, .menu-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus, .menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--primary-btn-bg-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form .form-field + .form-field {
  margin-top: 10px;
}

.modal-form .input-text {
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 42px;
  outline: none;
}
.modal-input:focus {
  border: 1px solid var(--primary-btn-bg-color);
}

.modal-input:focus + .input-icon {
  fill: var(--primary-btn-bg-color);
}

.form-license-link {
  text-decoration: underline;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .input-icon {
  fill: var(--primary-btn-bg-color);
}

.modal-comment {
  min-width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  resize: none;
  outline: none;
}
.modal-comment:focus {
  border: 1px solid var(--primary-btn-bg-color);
}

.form-license {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form-license-text {
  display: flex;
  white-space: nowrap;
}

.icon-cheked {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-license:checked + .form-license-text .icon-cheked {
  background-color: var(--primary-btn-bg-color);
  fill: #ffffff;
}
.modal-license:focus + .form-license-text .icon-cheked {
  outline: none;
  border-color: var(--primary-btn-bg-color);
}

.form-license-link {
  outline: none;
  color: var(--primary-btn-bg-color);
}

.modal .button.button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */